# Because this is completely for testing there's no issue in sharing this file. Doing so with actual production parameters is a huge NO.
parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: symfony
    database_user: root
    database_password: 
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: f0ade219c657fad13ae0f1319b25b148352d5ed7
